<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>created</th>
      <th>category</th>
      <th>family</th>
      <th>remark</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td></td>
      <td>2022-02-13</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>example</td>
      <td>2022-02-13</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>example</td>
      <td>2022-02-13</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>example</td>
      <td>2022-02-13</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>example</td>
      <td>2022-02-13</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>table</td>
      <td>2022-02-13</td>
      <td>furniture</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>radio sonic</td>
      <td>2022-02-22</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>oven</td>
      <td>2022-03-20</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>washers</td>
      <td>2022-03-20</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>